.aside {
  grid-column: 1/2;
  grid-row: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  border-right: 1px solid #dde3ee;
}
.aside__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.aside__nav > svg {
  cursor: pointer;
}
.aside__nav > svg:active {
  opacity: 0.5;
}

@media screen and (max-width: 980px) {
  .aside {
    display: none;
  }
}
