.aside__logo {
  width: 100%;
  height: 75px;
  background-image: url("../Assets/dropship_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #f8f9fa;
  background-blend-mode: darken;
  border-bottom: 1px solid #dde3ee;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-right: 1px solid #dde3ee;
}
