.catalog__product {
  /* width: 300px; */
  height: 375px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  border: 1px solid #e4e5ec;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px 10px 10px 10px;
  box-sizing: border-box;
}
.catalog__product-selected {
  border-color: #61d5df;
}
.catalog__product:hover {
  border-color: #61d5df;
}
.catalog__product button {
  color: #fff;
  font-weight: 500;
}
.prod__det {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.prod_sel {
  height: 10%;
  z-index: 10;
}
