.catalog__selector {
  display: none;
  padding: 5px;
  cursor: pointer;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
}
.catalog__selector button {
  /* margin-left: 125px; */
  margin-bottom: 5px;
  cursor: pointer;
}
.catalog__selector input {
  cursor: pointer;
}
.catalog__product:hover .catalog__selector {
  display: flex;
}
.catalog__selector-selected {
  display: flex;
}
.prod__events {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
}
.prod__events svg:hover {
  color: rgb(67, 149, 156);
}
