.catalog__photo {
  width: 100%;
  height: 170px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog__photo img {
  max-width: 100%;
  max-height: 100%;
}
