.catalog {
  grid-column: 2/6;
  grid-row: 1;
  display: flex;
  width: 100%;
  background-color: #f8f9fa;
  height: 100vh;
}
.catalog__filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 10px;
}
.catalog__main > div:nth-child(1) {
  margin-left: -10px;
}
.ctn {
  margin-top: 1px;
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 10px;
  height: calc(100vh - 150px);
}
.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading > img {
  width: 500px;
  height: 400px;
}
@media screen and (max-width: 980px) {
  .catalog {
    grid-column: 1/6;
    grid-row: 1;
  }
}
