.authorization {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Assets/authorizationBackground.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.authorization__registration {
  height: 600px;
  width: min(413px, 95%);
  height: 576px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 8px;
  padding: 34px 40px;
  z-index: 2;
  box-shadow: 0 0 12px #6b6b6b;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.authorization__login {
  height: 450px;
  width: min(400px, 95%);
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 8px;
  padding: 34px 40px;
  z-index: 2;
  box-shadow: 0 0 12px #6b6b6b;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.registration__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 120px;
  margin-bottom: 60px;
}
.login__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 85px;
  margin-bottom: 60px;
}
.registration__header > h3,
.login__header > h3 {
  font-weight: 600;
}
.registration__inputs {
  width: 60%;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.login__inputs {
  width: 60%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.registration__inputs > span,
.login__inputs > span {
  position: relative;
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: rgba(59, 59, 59, 0.5);
}
.registration__inputs a {
  color: inherit;
}
.login__inputs a {
  color: inherit;
  text-decoration: none;
}
.registration__inputs > button,
.login__inputs > button {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}
.inputs__subscribe > span {
  position: relative;
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: rgba(59, 59, 59, 0.5);
}
.registration__login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.login__login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
.registration__redirect,
.login__redirect {
  position: relative;
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: rgba(59, 59, 59, 0.5);
}
.registration__redirect a,
.login__redirect a {
  font-weight: 600;
  color: rgba(59, 59, 59, 1);
  text-decoration: none;
}

.password {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  box-sizing: border-box;
}
.password__logIn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
.password__logIn > svg {
  position: absolute;
  margin-left: 200px;
  cursor: pointer;
}
.password > svg {
  position: absolute;
  margin-left: 200px;
  cursor: pointer;
}
.inputs__email {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.err {
  display: flex;
  align-items: center;
  justify-content: center;
}
.err__msg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  margin-left: 130px;
}
.err__icon {
  cursor: pointer;
}
.err__icon:hover {
  color: rgb(67, 149, 156);
}
.inputs__form {
  width: 60%;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.inputs__form button {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}

.single__input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  box-sizing: border-box;
}

@media screen and (max-width: 980px) {
  .authorization__login {
    width: auto;
    height: 100%;
  }
  .authorization__registration {
    width: auto;
    height: 100%;
  }
  .authorization {
    background-color: #fff;
    background-image: none;
  }
}
