@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.CustomIndex {
  width: 100%;
  height: 100%;
  background-image: url(https://mk0q365dropshipe482k.kinstacdn.com/wp-content/uploads/2020/06/hero-1.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.CustomIndex__header {
  width: 100%;
  height: 70px;
  background-color: rgba(36, 41, 62, 0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.CustomIndex__main {
  max-width: 900px;
  width: 900px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(36, 41, 62, 0.8);
  padding: 50px 0;
  margin-top: 15%;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
}
.CustomIndex__main > img {
  width: 140px;
  height: 70px;
  margin-bottom: 20px;
}
.CustomIndex__Button {
  background-color: #61d5df;
  font-size: 16px;
  border: none;
  color: #fff;
  padding: 15px 30px;
  display: block;
  max-width: 180px;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}
.header__nav-item {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  text-decoration: none;
}
.header__nav-item:hover {
  color: #5fd1db;
}
@media screen and (max-width: 1130px) {
  .CustomIndex__main {
    width: auto;
    height: auto;
  }
  .CustomIndex__main > span {
    width: auto;
    height: auto;
  }
  .CustomIndex {
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
  }
}
