.CustomIndex__header-logo {
  cursor: pointer;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header__nav-item {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  text-decoration: none;
}
.header__nav-item:hover {
  color: #5fd1db;
}
.header__nav-button:nth-child(odd) {
  background-color: transparent;
  width: 120px;
  height: 40px;
  border: 2px solid #5fd1db;
  color: #5fd1db;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.header__nav-button:nth-child(odd):hover {
  transition: 1s;
  background-color: #5fd1db;
  color: #fff;
}
.header__nav-button:nth-child(even) {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #5fd1db;
}
.header__nav-logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 100%;
}
.header__nav-logo:hover {
  transition: 1s;
  background-color: #4267b2;
}
.drawer__landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: #000;
}
@media screen and (max-width: 1130px) {
  .header__nav {
    display: none;
  }
}
