.dashboard__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 71px;
  border-bottom: 1px solid #dde3ee;
}
.dashboard__header > span {
  text-transform: uppercase;
  font-family: Gilroy-bold;
  font-size: 18px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #303856;
  margin-bottom: 4px;
  margin-left: 20px;
}
.header__plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}
.plan__status {
  height: 60px;
  border-left: 1px solid #dde3ee;
  border-right: 1px solid #dde3ee;
  display: flex;
  align-items: center;
  padding: 2px 24px 5px 23px;
  width: 170px;
  font-family: Gilroy-bold;
  text-transform: capitalize;
  color: #49547d;
  font-weight: 700;
  font-size: 14px;
}
.plan__status > span:nth-child(2) {
  color: #4785ef;
  margin-left: 12px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #edf2fb;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}
@media screen and (max-width: 980px) {
  .dashboard__header {
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
