.dashboard__info {
  min-height: 576px;
  min-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
}
.info__bestSeller {
  width: 50%;
  height: 300px;
}
.info__bestSeller > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.info__table {
  width: 50%;
}
.info__table h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: #49547d;
  text-transform: capitalize;
}
.info__table img {
  width: 25px;
  height: 25px;
}
.info__table span {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.14;
  color: #49547d;
  text-transform: capitalize;
}

.cntr {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
@media screen and (max-width: 1130px) {
  .dashboard__info {
    flex-direction: column;
    margin: 50px;
  }
}
