.dashboard__map {
  min-height: 576px;
  min-width: 90%;
  padding-bottom: 134px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.dashboard__map > img {
  width: 100%;
  border-radius: 8px;
}
@media screen and (max-width: 1130px) {
  .dashboard__map {
    display: none;
  }
}
