.dashboard__welcome {
  min-height: 576px;
  min-width: 90%;
  margin-top: 28px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
  background-color: #fefefe;
  padding-bottom: 134px;
}
.welcome__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 50px 0 0 50px;
}
.welcome__header > h2 {
  font-family: Gilroy-med;
  font-size: 20px;
  font-weight: 500;
  color: #323949;
  line-height: 1.3;
}
.welcome__header > span {
  font-family: Gilroy;
  font-size: 18px;
  color: #49547d;
  line-height: 2;
}
.welcome__content {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.content__box {
  margin-top: 150px;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.content__box > h3 {
  font-family: Gilroy-med;
  font-size: 16px;
  font-weight: 600;
  padding: 0 24px;
  line-height: 1.63;
  text-align: center;
  color: #49547d;
}
.content__box > span {
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color: #49547d;
  margin-top: 12px;
  margin-bottom: 32px;
}
.content__box-Buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 100px;
  font-family: Gilroy-med;
}
.content__box-Buttons > button:nth-child(1) {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.content__box-Buttons > button:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 1130px) {
  .welcome__content {
    flex-direction: column;
  }
}
