.user__info {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 50px;
  border: 1px solid transparent;
  margin-bottom: 30px;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info__header {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #f5f5f5;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__list > li {
  margin: 0 15px;
  height: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #303856;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Helvetica-bold;
}
.header__deactivation {
  display: flex;
  width: 180px;
  height: 40px;
  border-radius: 4px;
  background: #fff1f1;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  color: #ff7b7b;
  border: none;
  cursor: pointer;
  outline: 0;
  margin-right: 50px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}
.header__deactivation:active {
  opacity: 0.5;
}
.info__details {
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details__left {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.details__right {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.photo__det,
.photo__password,
.det__personal,
.det__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 20px;
}
.photo__det > span,
.photo__password > span,
.det__personal > span,
.det__contact > span {
  height: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #303856;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Helvetica-bold;
}
.photo__det-container,
.photo__password-container {
  width: 400px;
  height: 50%;
  border-radius: 4px;
  border: 1px solid #f9fbfe;
  background-color: #f9fbfe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}
.photo__det-container > img {
  border-radius: 100%;
  padding: 4px;
  border: 6px solid #61d5df;
}
.photo__det-container > button {
  width: 160px;
  height: 40px;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  color: #fff;
}
.det__personal-container {
  width: 400px;
  height: 280px;
  border-radius: 4px;
  border: 1px solid #f9fbfe;
  background-color: #f9fbfe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}
.det__contact-container {
  width: 400px;
  height: 230px;
  border-radius: 4px;
  border: 1px solid #f9fbfe;
  background-color: #f9fbfe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}
.info__btn {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 70px 20px 0;
}
.info__btn > button {
  width: 160px;
  height: 40px;
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  color: #fff;
}
@media screen and (max-width: 980px) {
  .user__info {
    justify-content: center;
    gap: 20px;
  }
  .info__details {
    flex-direction: column;
  }
}
