.catalog__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}
.catalog__header-firstRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  min-width: 100px;
}
.catalog__header-scndRow {
  width: 100%;
  min-width: 100px;
}
.header__searchAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.header__searchAbout {
  gap: 20px;
}
.header__searchAbout > button {
  font-weight: 700;
  color: #fff;
  margin: 0 20px;
}
@media screen and (max-width: 1130px) {
  .header__searchAbout {
    width: 100%;
    gap: 50px;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .burgerMenu {
    display: block;
  }
}
