.header__inventory {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__inventory > button {
  font-weight: 700;
  color: #fff;
  margin: 0 20px;
}
.header__inventory > svg {
  cursor: pointer;
}
.header__inventory > svg:active {
  opacity: 0.5;
}
.header__about {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 2px solid #e4e5ec;
  border-radius: 100%;
  opacity: 0.5;
}
.header__about:active {
  opacity: 1;
}
@media screen and (max-width: 1130px) {
  .header__inventory {
    display: none;
  }
}
