.header__sort {
  background-color: #fff;
  height: 47px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__sort-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
.header__sort-label > svg {
  opacity: 0.3;
}
.header__sort-label > span {
  opacity: 0.3;
}
.header__sort label {
  margin-left: 20px;
  font-size: 12px;
  opacity: 0.5;
}
.header__sort > select {
  padding: 0px;
  margin: 12px;
  margin-left: 0;
  border: none;
  font-size: 14px;
  opacity: 0.8;
}
.header__sort > select:focus {
  outline: none;
}
@media screen and (max-width: 1130px) {
  .header__sort {
    justify-content: center;
  }
}
