.header__select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.header__select > button {
  font-weight: 700;
  color: #fff;
}
.header__counter {
  color: #29304b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Gilroy-med;
  font-style: normal;
  margin-left: 10px;
  padding-left: 10px;
  height: 30px;
  border-left: 1px solid #e4e5ec;
  font-size: 12px;
  font-weight: 600;
  min-width: 200px;
  max-width: 220px;
}
@media screen and (max-width: 1130px) {
  .header__counter {
    border: none;
  }
  .header__select {
    display: none;
  }
}
