.header__input {
  height: 35px;
  width: 300px;
  border: 1px solid #efeff1;
  border-right: none;
  margin-left: 0px;
  border-radius: 8px 0 0 8px;
  font-size: 15px;
}
.header__input:focus {
  outline: none;
}
.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1130px) {
  .header__input {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
