.cart__items {
  margin: 50px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 10px;
}
.cart__items svg {
  position: absolute;
  cursor: pointer;
}
.cart__items svg:active {
  opacity: 0.5;
}
.diff {
  color: #303856;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
}
.cart__items span {
  align-items: center;
  text-align: center;
  color: #303856;
  font-family: "Source sans pro";
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
.item {
  height: 375px;
  background-color: #fff;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  border: 1px solid #e4e5ec;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px 10px 10px 10px;
  box-sizing: border-box;
}
.item__title {
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
}
.item__img {
  width: 100%;
  height: 170px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item__img img {
  max-width: 100%;
  max-height: 100%;
}
.item__price {
  padding-top: 5px;
  border-top: 1px solid #e4e5ec;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item__actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}
.item__actions > svg {
  cursor: pointer;
}
.item__actions > svg:active {
  opacity: 0.5;
}
.empty {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty > img {
  width: 300px;
  height: 200px;
}

@media screen and (max-width: 980px) {
  .cart__items {
    display: none;
  }
  .item {
    display: flex;
  }
}
