.cart__footer {
  margin: 50px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 10px;
  height: 200px;
}
.footer__redirect {
  width: 100%;
  display: flex;
  justify-content: center;
}
.redircet__btn > button {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  width: 90%;
}
.redircet__btn {
  width: 90%;
  text-decoration: none;
  color: inherit;
}
.footer__data {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__data-data {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  color: #303856;
  font-weight: 600;
}
.footer__data-data span {
  font-size: 20px;
  font-weight: 700;
  color: #afc9f7;
}
.footer__data-data > div:last-child {
  padding-left: 10px;
  border-left: 1px solid #e6e6e6;
}
.footer__data-checkout > button {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
.footer__data-checkout {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .footer__data-data {
    font-size: 12px;
  }
}
@media screen and (max-width: 980px) {
  .cart__footer {
    width: auto;
    height: 300px;
    justify-content: center;
    align-items: center;
  }
  .footer__data {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .footer__data-data {
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}
