.cart__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 68px;
  border-bottom: 1px solid #dde3ee;
}
.cart__header > span {
  text-transform: uppercase;
  font-family: Gilroy-bold;
  font-size: 18px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #303856;
  margin-bottom: 4px;
  margin-left: 20px;
}
.header__about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}
.cart__header > button {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}
@media screen and (max-width: 980px) {
  .cart__header {
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
