.cart {
  grid-column: 2/6;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #f8f9fa;
}
@media screen and (max-width: 980px) {
  .cart {
    grid-column: 1/6;
    grid-row: 1;
  }
}
