.catalog__filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ecedf5;
  border-right: 1px solid #dde3ee;
  height: 100%;
  width: 250px;
}
@media screen and (max-width: 1130px) {
  .catalog__filter {
    display: none;
  }
}
