.filter__niche {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  background-color: #5d6b9f;
  color: #fff;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 16px;
  border: none;
}
.filter__niche:active {
  background-color: #999;
}
.filter__niche:focus {
  outline: none;
}
.filter__niche-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.filter__niche-list > li {
  cursor: pointer;
  padding: 10px 35px 10px 0;
  color: #49547d;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
}
