.filter__selector {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 500;
  color: #29304b;
  padding: 12px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fff;
  box-sizing: border-box;
  margin: 25px;
  width: 230px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.filter__selector > span {
  opacity: 0.8;
}
.selector__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
