.filter__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  gap: 20px;
}
.filter__slider > span {
  font-family: Gilroy;
  display: inline-block;
  margin-left: 3px;
  font-size: 12px;
  font-weight: 400;
}
.filter__slider > button {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  width: 230px;
}
