.add__prods {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
.add__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.add__prods button {
  color:#fff;
  font-weight: 500;
  font-size: 16px;
}