.edit__prods {
  display: flex;
  height: 100%;
  width: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0 50px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.edit__prods button  {
  margin-bottom: 20px;
  color:#fff;
  font-weight: 500;
  font-size: 16px;
}




ul {
  list-style: none;
}
.modal {
  width: 80%;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.modal__photo {
  width: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #fbfbfb;
}
.modal__title {
  width: 650px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
}
.title__button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 92%;
}
.title__tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 45px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.25);
  margin: 20px;
  font-weight: 500;
}
.title__tabs-item:nth-child(1) {
  opacity: 1;
}
.title__tabs-item {
  margin: 30px 30px 30px 0;
  opacity: 0.5;
}
.title__button > button {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.photo__price {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.photo__price-list {
  width: 419px;
  height: 66px;
  margin: auto;
  padding: 9.3px 29px 8.3px 20px;
  border-radius: 7px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  border: 1.5px solid #fff;
  background: #fafafa;
  display: flex;
  align-items: center;
}
.photo__price-list > li {
  width: calc(100% / 3);
  height: 60%;
  position: relative;
  font-family: Gilroy, serif;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #616161;
  padding-left: 19px;
  border-right: 4px solid #fff;
}
.photo__price-list > li:nth-child(3) {
  border-right: none;
  color: #81d1d8;
}

.photo__slideshow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slideshow__primary {
  width: 250px;
  height: 300px;
  display: flex;
  align-items: center;
  position: relative;
}
.slideshow__primary > img {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.slideshow__secondary {
  display: flex;
}
.slideshow__secondary > li {
  margin: 30px 30px 0 30px;
  cursor: pointer;
}
.slideshow__secondary img {
  width: 100px;
  height: 100px;
}

.title__desc {
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  color: #707070;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  margin-left: 20px;
  margin-top: 180px;
  position: absolute;
  max-width: 30%;
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.closeBtn {
  position: absolute;
  margin: 20px;
  margin-left: 95%;
}
.closeBtn > svg {
  cursor: pointer;
}
.closeBtn > svg:active {
  opacity: 0.5;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  height: 100%;
}